.head{
    width: 80vw;
    height: 8vh;
    position: fixed;
    border-radius: 20px;  
    z-index: 20;
    background-color: aliceblue;
    left: 10vw;
    top: 2vh;
    box-shadow: var(--SHADOWS);
  }
  
  a{
    text-decoration: none;
    color: #0F0200;
  }
  .nav1{
    margin-left: 10%;
    width:80% ;
    margin-top: 1.5%;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    list-style: none;
  }
  