<div class="helo">
<header class="head">
    <div>
      <ul class="nav1">
        
        <li><a href="/home">home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart">cart</a></li>
        <li><a href="/reserve">reserve</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
    </div>
</header>